extends layout.jade
block content
    h1 Edit details for #{listing.name}
    .row
      .col-md-4
        form(class="form" action = '/listing/#{listing._id}/edit', method = 'post')
          .form-group
            label Name
            input(type='text', name = 'name' class="form-control" value="#{listing.name}" required)
          .form-group
            label Location
            input(type='text', name = 'location' class="form-control" value="#{listing.location}" required)
          .form-group
            label Address
            textarea(name = 'address' class="form-control" placeholder ="Address" value="#{listing.address}")
          .form-group
            label Email address
            input(type='email', name = 'email' class="form-control" placeholder ="Email" value="#{listing.email}")
          .form-group
            label Contact no.
            input(type='number', name = 'contact' class="form-control" placeholder ="Contact no." value="#{listing.contact}" required)
          .form-group
            label Regular Price
            input(type='number', name = 'price' class="form-control" placeholder ="Price" value="#{listing.price}" required)
          .form-group
            label Weekend Price
            input(type='number', name = 'price_wknd' class="form-control" placeholder ="Price for Weekend (if applicable)" value="#{listing.price_wknd}")
          .form-group
            label Toilet Type:
            select(name="toilet_type" class="form-control")
              option(value="western" selected=listing.toilet_type === "western") Western
              option(value="indian" selected=listing.toilet_type === "indian") Indian
          .form-group
            label Menu Type:
            select(name="menu_type" class="form-control")
              option(value="veg" selected=listing.menu_type === "veg") Veg
              option(value="non-veg" selected=listing.menu_type === "non-veg and veg") Non-veg and veg
              option(value="na" selected=listing.menu_type === "na") Not Applicable
          .checkbox
            label
              input(type="checkbox" name="hasFood" checked=listing.hasFood)
              span Food
          .checkbox
            label
              input(type="checkbox" name="hasWifi" checked=listing.hasWifi)
              span WiFi
          .checkbox
            label
              input(type="checkbox" name="hasAC" checked=listing.hasAC)
              span AC room
          .checkbox
            label
              input(type="checkbox" name="hasPickup" checked=listing.hasPickup)
              span Pickup
          .checkbox
            label
              input(type="checkbox" name="hasGuide" checked=listing.hasGuide)
              span Guide
          .checkbox
            label
              input(type="checkbox" name="hasConference" checked=listing.hasConference)
              span Conference Rooms
          .checkbox
            label
              input(type="checkbox" name="hasEvent" checked=listing.hasEvent)
              span Events
          .checkbox
            label
              input(type="checkbox" name="hasAlcohol" checked=listing.hasAlcohol)
              span Alcohol
          .form-group
            label Speciality
            input(type='text', name = 'special' class="form-control" value="#{listing.special}")
          .form-group
            label Description
            input(type='text', name = 'description' class="form-control" value="#{listing.description}")
          .form-group
            label Attractions nearby
            input(type='text', name = 'attractions' class="form-control" value="#{listing.attractions}")
          .form-group
            label Link to image
            input(type='text', name = 'image' class="form-control" placeholder ="link to image" value="#{listing.image}")
          .form-group
            label Join Date
            input(type='text', name = 'join_date' class="form-control" value="#{moment(listing.join_date).format('DD/MM/YYYY')}")
          .form-group
            label Last Renewal Date
            input(type='text', name = 'last_renew' class="form-control" value="#{moment(listing.last_renew).format('DD/MM/YYYY')}")
          .form-group
            label Status
            select(name="status" class="form-control")
              option(value="active" selected=listing.status === "active") Active
              option(value="inactive" selected=listing.status === "inactive") Inactive

          input(type='submit' name="Update" class='btn btn-primary' value="Update Listing")
