extends layout.jade
block content
    h1 Hotels and Cottages in Alibag
    
    .row
      .col-md-3
        h4 FILTERS
      .col-md-9
        each listing in listings
          .panel.panel-default
            .panel-body
              .media
                .media-left
                  a(href="/listing/#{listing._id}")
                    img(src="#{listing.image}" class="media-object" width="240" height="240")
                  ul(class="contact-list")
                    if listing.email
                      li 
                        span(class="icon-chat-messages-15")
                        span Email: #{listing.email}
                    if listing.contact
                      li 
                        span(class="icon-seo-icons-23")
                        span #{listing.contact}
                    if listing.offer
                      p #{listing.offer}
                .media-body
                  h4.media-heading #{listing.name}
                  .location
                    span(class="icon-seo-icons-34") 
                    span #[strong Location:] #{listing.location}
                  if listing.address
                    .address #{listing.address}
                  hr
                  if listing.features
                    p Features: #{listing.features}
                    hr
                  h4 Facilities
                  ul(class="row facilities")
                    if listing.hasAC
                      li(class="col-md-3")
                        .li-container
                          span(class="icon-weather-14") 
                          span AC rooms
                    if listing.hasWifi
                      li(class="col-md-3")
                        .li-container
                          span(class="icon-socialmedia-20")
                          span Wifi
                    if (listing.hasFood == 'true')
                      li(class="col-md-3")
                        .li-container
                          span(class="icon-food-16") 
                          span #{listing.menu_type} food
                    if listing.hasPickup
                      li(class="col-md-3")
                        .li-container
                          span(class="icon-travel-transportation-09") 
                          span Pickup
                    if listing.hasGuide
                      li(class="col-md-3")
                        .li-container
                          span 
                          span Guide: #{listing.hasGuide}
                    if listing.hasConference
                      li(class="col-md-3")
                        .li-container
                          span(class="icon-multimedia-12") 
                          span Conference
                    if listing.hasEvent
                      li(class="col-md-3")
                        .li-container
                          span(class="icon-party-01")
                          span Events
                    if listing.hasAlcohol
                      li(class="col-md-3")
                        .li-container
                          span(class="icon-food-12")
                          span Alcohol
                    if listing.toilet_type
                      li(class="col-md-3")
                        .li-container
                          span(class="icon-shopping-21")
                          span #{listing.toilet_type} Toilets

                  p(class="special") #[strong Special mention:] #{listing.special}


                  p(class="prices") ROOM TARIFF: ₹#{listing.price}/-
                    
                   if (listing.price != listing.price_wknd)
                     p *Weekend tariff is ₹#{listing.price_wknd}/-
                      
                  p #[a(href="/listing/#{listing._id}/edit" class="glyphicon glyphicon-edit")] #[a(href="/listing/#{listing._id}/delete" class="glyphicon glyphicon-trash")]
