extends layout.jade
block content
    .banner
      h1 Hotels and Cottages in Alibag
    p!= message

    .row
      .col-md-3
        .search-container
          h4 #[strong SEARCH]
          form(class="form" action = '/search', method = 'post')
            label Location
            select(name="location" class="form-control")
              option(value="Varsoli") Varsoli
              option(value="Kurul") Kurul
              option(value="Aakshi") Aakshi
              option(value="Nagaon") Nagaon
              option(value="Navgaon Phata") Navgaon Phata
            hr
            form-group
              strong Budget per day
              .radio
                label
                  input(type="radio" name="budget" value="0-1000")
                  | 0-1000
              .radio
                label
                  input(type="radio" name="budget" value="0-1500")
                  | up to 1500
              .radio
                label
                  input(type="radio" name="budget" value="0-2000")
                  | up to 2000
              .radio
                label
                  input(type="radio" name="budget" value="0-4000")
                  | up to 4000
              .radio
                label
                  input(type="radio" name="budget" value="0-100000" checked="true")
                  | No limit
            hr
            input(type='submit' name="search" class='btn btn-primary' value="Search")



      .col-md-9
        each listing in listings
          .col-md-4
            .listing-tile
              a(href="/listing/#{listing._id}")
                .img-container
                  img(src="#{listing.image}" alt="#{listing.name}")
                .listing-details
                  if loggedIn
                    p #[a(href="/listing/#{listing._id}/edit" class="btn btn-primary") #[span(class="glyphicon glyphicon-edit")] Edit] #[a(href="/listing/#{listing._id}/delete" class="btn btn-default") #[span(class="glyphicon glyphicon-trash")] Remove]
                  h4 #{listing.name}
                  .location
                    span(class="icon-seo-icons-34")
                    span #[strong Location:] #{listing.location}
